extends layout

block content
	div.index-background
	div.index-card
		h1 Welcome to #{title}
		h2 Search for artists:
		form(action= '/search/artists' method = 'get')
			input.form-control(type='text' placeholder = 'Artist...' name = 'artist' required)
			button.button(type = 'submit') Search
		h2 Search for tracks:
		form(action= '/search/tracks' method = 'get')
			input.form-control(type='text' placeholder = 'Track...' name = 'track' required)
			button.button(type = 'submit') Search


