extends layout

block content
	h1 #{title}
	p Welcome to #{title}
	form(action= '/search/artists' method = 'get')
		input(type='text' placeholder = 'Artist...' name = 'artist' required)
		button(type = 'submit') Submit
	br
	form(action= '/search/tracks' method = 'get')
		input(type='text' placeholder = 'Track...' name = 'track' required)
		button(type = 'submit') Submit


